@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.enlargify-left {
  transition: 0.1s ease-in-out;
  transform-origin: left;
}
.enlargify-left:hover {
  transform: scale(1.1);
}

.enlargify-center {
  transition: 0.1s ease-in-out;
  transform-origin: center;
}
.enlargify-center:hover {
  transform: scale(1.1);
}

.enlargify-right {
  transition: 0.1s ease-in-out;
  transform-origin: right;
}
.enlargify-right:hover {
  transform: scale(1.1);
}